# dependencies
node_modules

# logs
npm-debug.log
access.json

# Nuxt build
.nuxt

keys/jwtSecret.js
keys/mongo.js
keys/s3.js
keys/youtube-api.js
keys/lastfm-api.js
data/converted/*

# Nuxt generate
dist
